-var title = 'Sprawdź nas';

.timeBox
  .timeBox__slider

    .timeBox__item
      img.timeBox__img(src="components/timeBox/src/baner.jpg" alt="banner")
      .timeBox__content
        .timeBox__contentTitle Szanujemy Twój czas i pieniądze
        .timeBox__box
          img.timeBox__shape(src="components/timeBox/src/shape.png" alt="shape")
          .timeBox__contentText wszystkie zlecenia
          img.timeBox__shape.-flip(src="components/timeBox/src/shape.png" alt="shape")
        .timeBox__contentText.-width realizujemy zawsze na czas
        .timeBox__btn
          include ../btn/_btn
