.catalog
  .container
    .catalog__logo
      include ../logo/_logo-white

    .catalog__text Przekazujemy Państwu nasz katalog, w którym znaleźć można informacje o naszym zakładzie. Dzięki bogactwu szczegółowych informacji wzbogaconych o atrakcyjne zdjęcia poznacie nasz asortyment.

    a.catalog__box(href="#")
      .catalog__text.-pdf Pobierz katalog w formacie <b>PDF</b>
      img.catalog__img(src="../components/catalog/src/katalog.jpg")