-var title = 'Oferta';

.beef
  .container
    .beef__box
      .beef__logo
        include ../logo/_logo-white

    .beef__box
      .beef__cow
        include ../cow/_cow

    .beef__box
      .beef__text
        .cmsContainer
          p Uzyskanie jednolitych pod względem wartości użytkowej wyrębów tuszy wymaga precyzyjnego określenia linii cięć. W trakcjie rozbioru uzyskuje się zasadnicze anatomiczne części, które posiadają niestety w poszczególnych krajach umowne nazwy. Nasze mięso rozbierane jest według schematu opartego o powyższą grafikę.

    .beef__box
      .beef__btn
        include ../btn/_btn
