.beef
  padding: 80px 0 35px 0
  background-image: url("../components/beef/src/background.jpg")
  +bg-img
  text-align: center
  color: white
  +clearfix

  &__box
    width: 100%
    padding: 10px 0

    &.-flex
      display: flex
      justify-content: space-between
      +TAB_MAX
        flex-wrap: wrap

  &__logo
    display: inline-block
    width: 225px
    +PHONE_ONLY_480
      width: 150px

  &__cow
    display: inline-block
    width: 490px
    height: auto
    padding: 20px 0 0 40px
    +PHONE_ONLY_600
      width: 300px
      padding: 20px 0 0 40px
    +PHONE_ONLY_480
      padding: 20px 0 0 0
      width: 200px

    &.-offer
      +TAB_MAX
        order: 1
        width: 100%

  &__text
    font-size: 22px
    font-style: italic
    text-align: left
    text-indent: 60px
    padding: 50px 0 50px 0
    +PHONE_ONLY_480
      font-size: 16px
      padding: 30px 0

  &__table
    +PHONE_ONLY_600
      width: 100%

    &.-one
      +TAB_MAX
        order: 2

    &.-two
      +TAB_MAX
        order: 3
