.beef
  .container
    .beef__logo
      include ../logo/_logo-white

    .beef__box.-flex
      .beef__table
        img.beef__img(src="../components/beef/src/table1.png" alt="tabela")
      .beef__cow
        include ../cow/_cow
      .beef__table
        img.beef__img(src="../components/beef/src/table2.png" alt="tabela")