-var title = 'Lokalizacja';

.family
  .container
    .family__top Zakład produkcyjny w Poninie
    .family__logo
      include ../logo/_logo2

    .family__box
      a(href="../components/family/src/miecho.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").family__item
        img.family__img(src="../components/family/src/miecho.jpg" alt="miecho")
      a(href="components/family/src/miecho.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").family__item
        img.family__img(src="../components/family/src/miecho.jpg" alt="miecho")
      a(href="components/family/src/miecho.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").family__item
        img.family__img(src="../components/family/src/miecho.jpg" alt="miecho")
      a(href="components/family/src/miecho.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>").family__item
        img.family__img(src="../components/family/src/miecho.jpg" alt="miecho")
    .family__more.-small Kliknij w zdjęcie aby powiększyć
    .family__more.-center Zakład nasz mieści się w Poninie, małej miejscowości koło Kościana, w odległości ok 50km od miasta Poznań. Zobacz jak do nas trafić

    .family__btn
      include ../btn/_btn-black
