-var title = 'Poznaj nas';

.family
  .container
    .family__top Pracujemy dla Ciebie od 25 lat, dostarczamy wołowinę do najdalszych zakątków naszego globu.
    .family__logo
      include ../logo/_logo2
    .family__more
      .cmsContainer
        p Rodzinny charakter naszej firmy ma duży wpływ na jej stabilność. W naszej działalności nie chodzi jedynie o szybki wzrost, lecz o rozwój firmy, budowę reputacji, wzrost wartości naszej marki. Jako właściciele firmy stawiamy na ciągność, dlatego o wiele bardziej świadomie kierujemy się straterią na wzrost wartości i skutecznie opieramy się presji realizowania krótkookresowych korzyści.

    .family__btn
      include ../btn/_btn-black

    .family__title RODZINA TO ZAUFANIE
    .family__top Bądź naszym partnerem i dołącz do nas