.form
  .form__black
    .container
      .form__title Wypełnij formularz,
      .form__bold a nasz konsultant skontaktuje się z Tobą w celu uzgodnienia szczegółów transportu.
      .form__text Dysponujemy nowoczesnymi ciągnikami siodłowymi z naczepami chłodniczymi jedno i dwukomorowymi.
      .form__text Kontenery chłodnicze z naszym mięsem wysyłamy w najbardziej oddalone zakątki naszego globu.

      .form__box
        .form__item
          .form__name *Nazwa firmy
          .form__send
            input.form__input
        .form__item
          .form__name Imię
          .form__send
            input.form__input
        .form__item
          .form__name Nazwisko
          .form__send
            input.form__input
        .form__item
          .form__name NIP
          .form__send
            input.form__input
        .form__item
          .form__name *Miejscowość
          .form__send
            input.form__input
        .form__item
          .form__name *Kod pocztowy
          .form__send
            input.form__input
        .form__item
          .form__name *Ulica
          .form__send
            input.form__input
        .form__item
          .form__name *Numer
          .form__send
            input.form__input
        .form__item
          .form__name Telefon kontaktowy
          .form__send
            input.form__input
        .form__item
          .form__name *Adres e-mail
          .form__send
            input.form__input
        .form__item.-full
          .form__name *Informacje dotyczące transportu
          .form__send
            textarea.form__input.-full
          .form__name * pola wymagane

          button.form__btn(type="button") wyślij zapytanie