.baner
  .baner__slider

    .baner__item
      img.baner__img(src="components/baner/src/baner3.jpg" alt="banner")
      .baner__content.-top
        .container
          .baner__contentTitle.-padding
            .cmsContainer Czym jest wyjątkowy smak mięsa i jak go znaleźć?
          .baner__box
            .baner__contentText.-small
              .cmsContainer Nasze mięso pochodzi tylko z najlepszych hodowli bydła w Polsce. O jego zmaku decyduje nie tylko rodzaj mięsa lecz rózwnież odpowiedni sposób jego obróbki oraz leżakowania. Im lepsza wołowina, tym któtszy czas obróbki termicznej w kuchni. Czynnikami decydującymi o jej walorach jest barwa ich chciwość, zapach oraz wartości odżywcze. Te podstawowe cechy wyróżniają nasze mięso i gwarantują najwyższą jej jakosć
