-var title = 'Zobacz';

.baner
  .baner__slider

    .baner__item
      img.baner__img(src="components/baner/src/baner.jpg" alt="banner")
      .baner__logo
        include ../logo/_logo
      .baner__content
        .baner__contentTitle Opowiem Wam pewną historię...
        .baner__box
          img.baner__shape(src="components/baner/src/shape.png" alt="shape")
          .baner__contentText Historię naszej firmy
          img.baner__shape.-flip(src="components/baner/src/shape.png" alt="shape")
        .baner__btn
          include ../btn/_btn
