.baner
  .baner__slider

    .baner__item
      img.baner__img(src="components/baner/src/baner2.jpg" alt="banner")
      .baner__content.-bot
        .baner__contentTitle Rodzina to zaufanie
        .baner__box
          img.baner__shape(src="components/baner/src/shape.png" alt="shape")
          .baner__contentText.-width bądź naszym partnerem i dołącz do nas
          img.baner__shape.-flip(src="components/baner/src/shape.png" alt="shape")
