.progres
  .progres__black
    .container

      .progres__logo
        include ../logo/_logo-white

      .progres__title Nasze działania w liczbach

      .progres__bar

        .progres__box
          .progres__square
            .progres__number(data-counter="50000") 0
          .progres__text produkcja w kg mięsa dziennie

        .progres__box
          .progres__char =

        .progres__box
          .progres__square
            .progres__number(data-counter="250") 0
          .progres__text odbiorców mięsa dziennie

        .progres__box
          .progres__char =

        .progres__box
          .progres__square
            .progres__number(data-counter="12500") 0
          .progres__text rodzin kupujących mięso dziennie

        .progres__box
          .progres__char =

        .progres__box
          .progres__square
            .progres__number(data-counter="250000") 0
          .progres__text przygotowanych porcji obiadowych dziennie
