.lang
  .container
    .lang__box
      .lang__text Zmień język strony:
      a.lang__link(href="#") PL
      a.lang__link(href="#") EN
      a.lang__link(href="#") DE
      a.lang__link(href="#") FR
      a.lang__link(href="#") IT
      a.lang__link(href="#") ES
      a.lang__link(href="#") GR
      a.lang__link(href="#") CN