.meat
  .container
    .meat__top Czym jest wyjątkowy smak mięsa i jak go znaleźć ?
    .meat__italic Rodzinny charakter naszej firmy ma duży wpływ na jej stabilność. W naszej działalności nie chodzi jedynie o szybki wzrost, lecz o rozwój firmy, budowę reputacji, wzrost wartości naszej marki. Jako właściciele firmy stawiamy na ciągność, dlatego o wiele bardziej świadomie kierujemy się straterią na wzrost wartości i skutecznie opieramy się presji realizowania krótkookresowych korzyści.
