.meat
  .container
    .meat__italic.-left
      .cmsContainer
        p Rodzinny charakter naszej firmy ma duży wpływ na jej stabilność. W naszej działalności nie chodzi jedynie o szybki wzrost, lecz o rozwój firmy, budowę reputacji, wzrost wartości naszej marki. Jako właściciele firmy stawiamy na ciągność, dlatego o wiele bardziej świadomie kierujemy się straterią na wzrost wartości i skutecznie opieramy się presji realizowania krótkookresowych korzyści.
    .meat__italic.-left
      .cmsContainer
        p Już od 25 lat zajmujemy sięrozbiorem mięsa wołowego. W 2004 roku otrzymaliśmy pozwolenie na eksport własnych produktów oraz zostaliśmy zakwalifikowani do zakładów klasy "A" co świadczy o najlepszym asortymencie produktów, a także o wysokiej higienie i jakości.
