.meat.-em
  .container
    .meat__box
      .meat__text Krzyżowa

      .meat__text.-small 01.00

    .meat__box.-half
      img.meat__img(src="../components/meat/src/meat.jpg" alt="mieso")

    .meat__box
      .meat__text.-border 01.01 Krzyżówka PAD