.meat.-em
  .container
    .meat__item
      .meat__box
        .meat__text
          .meat__title Krzyżowa
          .meat__bold 01.00
      .meat__box.-fifty
        img.meat__img(src="../components/meat/src/meat.jpg" alt="miecho")
        .meat__bold Ćwierćtusza zadnia
      .meat__box
        .meat__border 01.01 Krzyżówka PAD