extends _layout.pug

block content
  .col
    include ../components/lang/_lang
  .col
    include ../components/menu/_menu
  .col
    include ../components/catalog/_catalog
  .col
    include ../components/meat/_meat
  .col
    include ../components/timeBox/_timeBox
  .col
    include ../components/progres/_progres
  .col
    include ../components/contact/_contact