extends _layout.pug

block content
  .lang-box
    include ../components/lang/_lang
  .header
    include ../components/menu/_menu
  .timebox-box
    include ../components/timeBox/_timeBox
  .form-box
    include ../components/form/_form


  .meat-box
    include ../components/meat/_meat
  .progrex-box
    include ../components/progres/_progres
  .contact-box
    include ../components/contact/_contact


