extends _layout.pug

block content
  .langg
    include ../components/lang/_lang
  .banerr
    include ../components/baner/_baner
  .header
    include ../components/menu/_menu
  .familyy
    include ../components/family/_family
  .bef
    include ../components/beef/_beef
  .meatt
    include ../components/meat/_meat
  .timeBoxx
    include ../components/timeBox/_timeBox
  .progress
    include ../components/progres/_progres
  .contactt
    include ../components/contact/_contact
