extends _layout.pug

block content
  .col
    include ../components/lang/_lang
  .col
    include ../components/baner/_baner
  .col
    include ../components/menu/_menu
  .col
    include ../components/family/_family
  .col
    include ../components/beef/_beef
  .col
    include ../components/meat/_meat
  .col
    include ../components/timeBox/_timeBox
  .col
    include ../components/progres/_progres
  .col
    include ../components/contact/_contact
