extends _layout.pug

block content
  .lang-box
    include ../components/lang/_lang
  .baner-box
    include ../components/baner/_baner
  .header
    include ../components/menu/_menu
  .family-box
    include ../components/family/_family
  .bef-box
    include ../components/beef/_beef
  .meat-box
    include ../components/meat/_meat
  .timeBox-box
    include ../components/timeBox/_timeBox
  .progres-box
    include ../components/progres/_progres
  .contact-box
    include ../components/contact/_contact
