extends _layout.pug

block content
  .lang-box
    include ../components/lang/_lang
  .heder
    include ../components/menu/_menu
  .bef-box
    include ../components/beef/_beef-offer
  .meat-box
    include ../components/meat/_meat-em


  .timebox-box
    include ../components/timeBox/_timeBox
  .progres-box
    include ../components/progres/_progres
  .contact-box
    include ../components/contact/_contact


