.footer
  .container
    .footer__top
        a.footer__item(href="main.html") HOME
        a.footer__item(href="family.html") KRĘGLEWSCY
        a.footer__item(href="offer.html") OFERTA
        a.footer__item(href="main.html") POLITYKA JAKOŚCI
        a.footer__item(href="form.html") TRANSPORT
        a.footer__item(href="download.html") POBIERZ
        a.footer__item(href="form.html") KONTAKT

    .footer__logo
      include ../logo/_logo-black

    .footer__bot
      .footer__left
        a.footer__link(href="#") Copyright &copy; 2014 Kreglewscy. Wszelkie prawa zastrzeżone.
        a.footer__link(href="#") Polityka prywatności

      .footer__right
        a.footer__link.-bold(href="#") Designe by DNA Studio

    .footer__arrow
      a.footer__link(href="#top")
        img.footer__img(src="../components/footer/src/up.jpg" alt="up")