.footer
  .container
    .footer__top
        a.footer__item(href="distribution.html") HOME
        a.footer__item(href="production.html") KRĘGLEWSCY
        a.footer__item(href="news.html") OFERTA
        a.footer__item(href="producent.html") POLITYKA JAKOŚCI
        a.footer__item(href="contactMap.html") TRANSPORT
        a.footer__item(href="contactMap.html") POBIERZ
        a.footer__item(href="contactMap.html") KONTAKT

    .footer__logo
      include ../logo/_logo-black

    .footer__bot
      .footer__left
        a.footer__link(href="#") Copyright &copy; 2014 Kreglewscy. Wszelkie prawa zastrzeżone.
        a.footer__link(href="#") Polityka prywatności

      .footer__right
        a.footer__link.-bold(href="#") Designe by DNA Studio