.footer
  background-image: url("../components/footer/src/background.jpg")
  +bg-img
  +clearfix
  text-align: center
  position: relative

  &__top
    display: flex
    justify-content: center
    padding: 25px 0
    +PHONE_ONLY
      flex-wrap: wrap

  &__item
    font-size: 16px
    font-weight: 700
    padding: 0 15px
    border-right: 2px solid black
    transition: color 0.5s
    +TAB_MAX
      font-size: 14px
      padding: 0 10px
    +PHONE_ONLY
      width: 25%
      padding: 10px
    +PHONE_ONLY_480
      width: 33.33%
      border: none
      font-size: 10px
      padding: 5px 0

    &:hover
      color: $yellow

    &:last-child
      border: none

  &__logo
    width: 170px
    padding-bottom: 10px
    display: inline-block
    +PHONE_ONLY_480
      width: 130px

  &__bot
    width: 100%

  &__left
    text-align: left
    float: left
    +PHONE_ONLY_600
      text-align: center
      width: 100%

  &__right
    text-align: right
    +PHONE_ONLY_600
      text-align: center
      width: 100%

  &__link
    display: inline-block
    padding: 0 5px
    border-right: 1px solid black
    +PHONE_ONLY_600
      width: 100%
      border: none
      font-size: 12px

    &:hover
      text-decoration: underline

    &:last-child
      border: none

    &.-bold
      font-weight: 700

  &__arrow
    position: absolute
    top: -40px
    left: 50%
    transform: translateX(-50%)

