.contact
  .container
    .contact__title Bądź z nami w stałym kontakcie
    .contact__text Napisz bądź zadzwoń do nas. Jesteśmy do Twojej dyspozycji.

    .contact__box
      .contact__info
        .cmsContainer
          p FIRMA KRĘGLEWSCY <br> ZAKŁAD ROZBIORU MIĘSA
          p PONIN, ul. Widziszewska 13A <br> 64-000 Kościan
          p tel. +48 65 513 29 72 Zakład w Poninie <br> fax. +48 65 518 70 86
          p kom. +48 604 917 215 -Tomasz Kręglewski <br> kom. +48 604 917 215 -Krzysztof Kręglewski

      .contact__code
        img.contact__qr(src="../components/contact/src/qrcode.png")
        .contact__infoText.-qr Przeglądasz stronę na urządzeniach mobilnych. <br> Zeskanuj kod QR

      .contact__form
        .contact__item
          .contact__name Imię/ Nazwisko
          .contact__send
            input.contact__input
        .contact__item
          .contact__name Adres e-mail
          .contact__send
            input.contact__input
        .contact__item.-full
          .contact__name Wiadomość
          .contact__send
            textarea.contact__input.-full
        .contact__name * wszystkie pola wymagane
        button.contact__btn(type="button") wyślij wiadomość