.contact
  .container
    .contact__title Bądź z nami w stałym kontakcie
    .contact__text Napisz bądź zadzwoń do nas. Jesteśmy do Twojej dyspozycji.

    .contact__box
      .contact__info
        .contact__infoText FIRMA KRĘGLEWSCY
        .contact__infoText ZAKŁAD ROZBIORU MIĘSA
        .contact__infoText PONIN, ul. Widziszewska 13A
        .contact__infoText 64-000 Kościan
        .contact__infoText tel. +48 65 513 29 72 Zakład w Poninie
        .contact__infoText fax. +48 65 518 70 86
        .contact__infoText kom. +48 604 917 215 -Tomasz Kręglewski
        .contact__infoText kom. +48 604 917 215 -Krzysztof Kręglewski

      .contact__code
        img.contact__qr(src="../components/contact/src/qrcode.jpg")
        .contact__infoText.-qr Przeglądasz stronę na urządzeniach mobilnych. <br> Zeskanuj kod QR

      .contact__form
        .contact__item
          .contact__name Imię/ Nazwisko
          .contact__send
            input.contact__input
        .contact__item
          .contact__name Imię/ Nazwisko
          .contact__send
            input.contact__input
        .contact__item.-full
          .contact__name Imię/ Nazwisko
          .contact__send
            input.contact__input.-full
        .contact__name * wszystkie pola wymagane
        button.contact__btn(type="button") wyślij wiadomość