.menu
  .container
    a.menu__logo(href="main.html")
      include ../logo/_logo

    .menu__bars(type="button")
      i.fa.fa-bars(aria-hidden="true")

    .menu__nav
      .menu__navLeft
        .menu__box
        a.menu__navItem(href="main.html") HOME
        a.menu__navItem(href="family.html") KRĘGLEWSCY
        a.menu__navItem(href="offer.html") OFERTA
        a.menu__navItem(href="main.html") POLITYKA JAKOŚCI
        a.menu__navItem(href="form.html") TRANSPORT
        a.menu__navItem(href="download.html") POBIERZ
        a.menu__navItem(href="form.html") KONTAKT

